@font-face {
    font-family: "Circular";
    src: url("../fonts/CircularAir-Light.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Circular";
    src: url("../fonts/circular-medium.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "Din";
    src: url("../fonts/din-bold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Ogg Roman";
    src: url("../fonts/OggRoman.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Calibre";
    src: url("../fonts/Calibre/Calibre-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Calibre";
    src: url("../fonts/Calibre/Calibre-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: "Noe";
    src: url("../fonts/Noe/noe-display-regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
} */

@font-face {
    font-family: "Basier Circle";
    src: url("../fonts/BasierCircle/BasierCircle-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avus";
    src: url("../fonts/Avus-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ul {
    list-style: none;
}

li,
button {
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

a:focus,
button:focus {
    outline: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

input,
textarea,
select {
    outline: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

small {
    font-size: 90%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Circular", sans-serif;
    font-weight: normal;
    color: #b2ab97;
    /* #c3c0c1; */
    font-size: 18px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #f4f4f4;
    /* background: url("../img/download.jpeg") repeat-x; */
    /* background-size: contain; */
    transition: background-color 500ms ease;
}

/* NEW */

.name.reduced {
    font-size: 30px;
}

nav {
    border-bottom: 1px solid #6d6967;
    padding: 25px 0 20px;
    text-align: right;
}

b {
    font-weight: bold;
}

/* 
section {
    padding: 5em 30px;
} */

/* section#about-me {
    background-color: #b9acae;
}

section#work {
    background-color: #eee8d9;
}

section#skills {
    background-color: #cacfc4;
} */

main section {
    margin-bottom: 12em;
}

em {
    color: #dda360;
}

.section-title {
    margin-bottom: 60px;
}

.section-body {
    max-width: 1150px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}

.section-body.flex {
    display: flex;
    flex-direction: column;
}

.interests a {
    text-decoration: underline;
    color: #ffacac;
}

.work-list {
    margin: auto;
}

.work-list hr {
    border-top: 0.01em solid #6d6967;
    border-bottom: none;
    margin: 3em 0;
}

.work-item {
    position: relative;
    width: 100%;
}

.work-item-inner {
    position: relative;
    padding: 30px;
    background: #615659;
    border-radius: 10px;
    display: none;
}

.work-item-inner p {
    /* max-width: 60%; */
    padding-top: 30px;
}

.work-thumbnail img {
    cursor: pointer;
    /* width: 380px; */
    height: 220px;
    object-fit: cover;
    border-radius: 9px;
    box-shadow: 0px 4px 19px 0px rgb(0 0 0 / 25%);
}

.work-url {
    display: block;
    text-align: center;
    padding-top: 10px;
    font-family: "Ogg Roman";
    font-size: 22px;
}

.w-100 {
    width: 100%;
}

.img-floating {
    opacity: 0;
    visibility: hidden;
    transition: 500ms ease-in-out;
    position: absolute;
    width: 160px;
    top: -180px;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 10px;
}

.img-floating::after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #ffffff;
}

.img-trigger {
    position: relative;
}

.img-trigger:hover .img-floating {
    opacity: 1;
    visibility: visible;
}

.profile {
    border-radius: 10px;
    order: -1;
    border-radius: 240px;
    max-width: 200px;
    margin: 0 auto 30px;
    filter: saturate(0.7);
}

footer ul li {
    font-family: "Ogg Roman";
    padding-top: 30px;
    text-align: right;
    font-size: 23px;
}

/* NEW */

/* 
body.about {
    background-image: url("../images/bg-dotted.svg");
    background-position: bottom;
}

body.bg-is-dark {
    background-color: #574745;
}

body.name-is-hidden .name {
    transform: translate(0, -100%);
}

body.name-is-hidden .name-nav {
    opacity: 1;
} */

::-webkit-scrollbar {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Ogg Roman";
    font-weight: 400;
}

h1 {
    font-size: 19vw;
    /* line-height: 0.5; */
    font-weight: 500;
    text-align: center;
}

/* section {
    margin-bottom: 10em;
} */

.carousel-wrapper {
    overflow: hidden;
}

.carousel-wrapper * {
    box-sizing: border-box;
}

.carousel {
    transform-style: preserve-3d;
}

.carousel__photo {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
    z-index: 100;
    transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
}

.carousel__photo.initial,
.carousel__photo.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.carousel__photo.prev,
.carousel__photo.next {
    z-index: 800;
}

.carousel__photo.prev {
    transform: translateX(-100%);
    /* Move 'prev' item to the left */
}

.carousel__photo.next {
    transform: translateX(100%);
    /* Move 'next' item to the right */
}

.is-animated {
    background: linear-gradient(to right, #0f666b 10%, #8a1c18 50%, #03262f 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 7s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

h2 {
    font-size: 70px;
    line-height: 1;
}

p {
    font-size: inherit;
    line-height: 1.6;
}

em {
    color: #dda360;
}

.paragraph-large {
    font-size: 22px;
}

small {
    font-size: 14px;
}

main {
    margin-top: 3vh;
    /* padding: 30px; */
}

::-moz-selection {
    color: #fff;
    background: #444444;
}

::selection {
    color: #fff;
    background: #444444;
}

.center {
    text-align: center;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

.name-container {
    overflow: hidden;
    line-height: 0.95;
    padding-bottom: 30px;
}

/* .name {
    font-family: "Recife Display";
    font-weight: 500;
    transform: translate(0, 0);
    transition: transform 500ms ease-in-out;
} */

.name-nav {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.about {
    max-width: 500px;
    padding-top: 30px;
}

.image-wrapper {
    flex-basis: 30%;
}

.image-wrapper img {
    width: 100%;
    max-width: 300px;
    border-radius: 60%;
}

.text-wrapper {
    max-width: 100%;
}

.intro {
    display: block;
}

.video,
.project-thumbnail {
    z-index: 1;
    width: 58%;
    margin-right: 3rem;
    border-radius: 5px;
    background-color: #7d6d6c;
    padding: 30px;
}

.main-nav .nav-list {
    padding: 30px 100px 100px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}

.nav-list li {
    font-family: "Recife Display";
    font-size: 21px;
    display: inline-block;
    padding-right: 40px;
}

.main-nav .nav-list li:first-of-type {
    padding-right: 100px;
}

.main-nav .nav-list li a.active {
    text-decoration: underline;
}

body.bg-is-dark nav li:nth-of-type(2n) {
    text-decoration: underline;
}

.heading-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading::after {
    content: "";
    display: block;
    background-color: #a59797;
    width: 0;
    height: 1px;
    margin-top: 26px;
    position: absolute;
    left: 0;
    transition: all 1000ms ease-in-out;
}

.heading.right {
    text-align: right;
}

.heading.right::after {
    right: 0;
    left: initial;
}

.work.is-active .heading::after,
.contact.is-active .heading::after {
    width: 75%;
}

.project {
    display: flex;
    align-items: center;
}

.projects-arrows {
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 21px;
}

.project-desc {
    max-width: 400px;
}

.year {
    display: block;
    margin-bottom: 3em;
}

.arrow-left {
    display: none;
    /* margin-right: 25px; */
}

.arrow-left,
.arrow-right {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.project-name {
    padding-bottom: 30px;
}

.project-list {
    margin: 80px 0;
}

.project-link {
    display: block;
    text-decoration: underline;
    margin-top: 30px;
}

.link {
    font-weight: 500;
    text-decoration: underline;
}

/* .project.active img {
    transform: rotate(-45deg);
} */

/* .project.active .project-content {
    height: auto;
    padding-top: 30px;
}

.bio {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1000px;
    font-size: 19px;
    line-height: 1.7;
}

.bio-content {
    margin: 60px 0 120px;
    max-width: 600px;
} */

/* 
.profile-photo {
    filter: grayscale(1);
}

.profile-photo img {
    width: 100%;
} */

.u-sm-label {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-size: 14px;
}

.interests {
    padding-top: 20px;
}

.skills {
    padding-bottom: 45px;
}

.skills ul li {
    padding-top: 12px;
    display: inline-block;
}

.skills ul li:not(:last-of-type) {
    padding-right: 30px;
}

/* footer {
    background: url("../images/bg-dotted.svg");
    background-size: contain;
    background-position: bottom;
} */

footer .footer-content {
    position: relative;
    bottom: 0;
    top: initial;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

/* 
footer .nav-list li {
    font-size: 15px;
} */

/* NEW MEDIA QUERIES */

@media screen and (min-width: 640px) {
    .section-body {
        max-width: 1150px;
    }
    .section-body.flex {
        flex-direction: row;
    }
    .profile {
        margin-top: 40px;
    }
    .name-wrapper {
        margin-bottom: 10rem;
    }
    h1 {
        font-size: 14vw;
        letter-spacing: -12px;
    }
    h2 {
        font-size: 80px;
    }
    .work-list hr {
        margin: 6em 0;
    }
    footer {
        padding-bottom: 60px;
    }
    .about-me {
        max-width: 60%;
    }
    .about-me.centered {
        margin: auto;
    }
    .profile {
        max-width: 350px;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 10px;
    }
    .section-title {
        position: sticky;
        top: 0;
        z-index: 9999999;
        padding-left: 60px;
    }
    .work-item-inner {
        max-width: 70%;
        padding: 50px 40px 50px;
        display: block;
    }
    .work-thumbnail {
        position: absolute;
        top: -30px;
        right: -35px;
    }
    .work-thumbnail img {
        width: 380px;
    }
}

/* NEW MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .project {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    body,
    .paragraph-large {
        font-size: 17px;
    }
    /* h2 {
        font-size: 30px;
    }*/
    h3 {
        font-size: 31px;
    }
    header .nav-list li:first-of-type {
        display: none;
    }
    section {
        margin-bottom: 5em;
    }
    .main-nav .nav-list {
        padding: 30px;
    }
    .nav-list li {
        font-size: 17px;
        padding-right: 20px;
    }
    .main-nav .nav-list li:first-of-type {
        padding-right: 20px;
    }
    .image-wrapper img {
        max-width: 180px;
        margin-bottom: 10px;
    }
    .project-desc {
        margin-top: 30px;
    }
    .projects-arrows {
        position: relative;
        margin-top: 7px;
        margin-left: 30px;
    }
    .project-numbering {
        display: none;
    }
    .project-list {
        margin: 60px 0 80px;
    }
    .heading-flex {
        justify-content: flex-start;
    }
    .arrow-left,
    .arrow-right {
        width: 27px;
        height: 27px;
    }
    .video,
    .project-thumbnail {
        padding: 0;
        margin-right: 0;
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    main {
        margin-top: 5vh;
    }
    /* h1 {
        font-size: 9vw;
        font-weight: 500;
    } */
    h2 {
        font-size: 80px;
        line-height: 0.9;
    }
    h3 {
        font-size: 38px;
        line-height: 1.6;
    }
    .container {
        padding-left: 100px;
        padding-right: 100px;
    }
    .container.small {
        max-width: 1200px;
        padding-left: 300px;
    }
    .intro {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text-wrapper {
        max-width: 650px;
    }
    .name-container {
        right: 0;
        /* margin-left: -7px; */
    }
    .nav-list {
        padding: 30px 100px;
        top: 0;
        right: 0;
    }
    .bio {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .profile-photo {
        position: sticky;
        top: 220px;
    }
    .profile-photo img {
        max-width: 250px;
    }
}
