html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ul {
    list-style: none;
}

li,
button {
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

a:focus,
button:focus {
    outline: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

input,
textarea,
select {
    outline: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

small {
    font-size: 90%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@font-face {
    font-family: "HKGrotesk";
    src: url("../fonts/HKGrotesk/HKGrotesk-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "HKGrotesk";
    src: url("../fonts/HKGrotesk/HKGrotesk-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "HKGrotesk";
    src: url("../fonts/HKGrotesk/HKGrotesk-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "HKGrotesk";
    src: url("../fonts/HKGrotesk/HKGrotesk-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Recife Display";
    src: url("../fonts/RecifeDisplayLight.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "HKGrotesk", sans-serif;
    font-weight: 400;
    background: #c6b8b5 url("../images/bg-dotted.svg");
    /* background: linear-gradient(180deg, #91c3ff, #c79af3 50%, #f0a3b2); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    color: #5f514e;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: background-color 500ms ease-in-out;
}

body.about {
    /* background-image: url("../images/bg-dotted.svg"); */
    background-position: bottom;
}

body.bg-is-dark {
    background-color: #e0d5ca;
}

body.name-is-hidden .name {
    transform: translate(0, -100%);
}

body.name-is-hidden .name-nav {
    opacity: 1;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 17vw;
    font-weight: 500;
    color: #0f666b;
}

.is-animated {
    background: linear-gradient(to right, #0f666b 10%, #8a1c18 50%, #03262f 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 7s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

h3 {
    font-family: "Recife Display";
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 40px;
}

main {
    margin-top: 13vh;
    padding: 30px;
}

p {
    font-size: inherit;
}

small {
    font-size: 14px;
}

p {
    line-height: 1.6;
}

::-moz-selection {
    color: #fff;
    background: #444444;
}

::selection {
    color: #fff;
    background: #444444;
}

.center {
    text-align: center;
}

.name-container {
    overflow: hidden;
    line-height: 0.95;
    padding-bottom: 30px;
}

.name {
    font-family: "Recife Display";
    font-weight: 500;
    transform: translate(0, 0);
    transition: transform 500ms ease-in-out;
}

.name-nav {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.intro {
    max-width: 600px;
    /* margin-top: 170px; */
}

.nav-list {
    position: fixed;
    text-align: center;
    padding: 6vw;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}

.nav-list li {
    font-family: "Recife Display";
    font-size: 19px;
    display: inline-block;
}

.nav-list li:not(:first-of-type) {
    padding-left: 75px;
}

.nav-list li a.active {
    text-decoration: underline;
}

body.bg-is-dark nav li:nth-of-type(2n) {
    text-decoration: underline;
}

.work {
    margin-top: 6vw;
}

.project {
    border-bottom: 1px solid rgba(3, 39, 47, 0.315);
    padding: 30px 0;
    cursor: pointer;
    max-width: 700px;
    margin: auto;
}

.project-heading {
    max-width: 700px;
    margin: auto;
    padding-bottom: 60px;
}

.project-name {
    font-size: 20px;
    padding-bottom: 10px;
}

.project-list {
    margin-top: 50px;
    margin-bottom: 80px;
}

.project-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-flex .project {
    flex-basis: 30%;
}

/* .project-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.project-thumbnail {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
}
/* 
.project-content {
    height: 0;
    padding: 0;
    overflow: hidden;
} */

.link {
    font-weight: 500;
    text-decoration: underline;
}

/* .project.active img {
    transform: rotate(-45deg);
} */

.project.active .project-content {
    height: auto;
    padding-top: 30px;
}

.bio {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1000px;
    font-size: 19px;
    line-height: 1.7;
}

.bio-content {
    margin: 60px 0 120px;
    max-width: 600px;
}

.profile-photo {
    filter: grayscale(1);
}

.profile-photo img {
    width: 100%;
}

.skills {
    padding-top: 30px;
}

.skills ul li {
    padding-top: 12px;
    display: inline-block;
}

.skills ul li:not(:last-of-type) {
    padding-right: 30px;
}

footer .nav-list {
    position: relative;
    bottom: 0;
    top: initial;
}

footer .nav-list li {
    font-size: 16px;
}

/* @media screen and (max-device-width: 768px) and (orientation: portrait) {
  
} */

@media screen and (min-width: 600px) {
    main {
        margin-top: 15vh;
        padding: 30px 100px;
    }
    h1 {
        font-size: 9vw;
        font-weight: 500;
        text-align: right;
    }
    h3 {
        font-size: 45px;
    }
    .name-container {
        right: 0;
        position: fixed;
        /* margin-left: -7px; */
    }
    .nav-list {
        padding: 3vw 6vw;
        text-align: right;
        top: 0;
        right: 0;
    }
    .bio {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .profile-photo {
        position: sticky;
        top: 220px;
    }
    .profile-photo img {
        max-width: 250px;
    }
}
