@font-face {
    font-family: 'Operetta 18 Demi';
    src: url('Operetta18-DemiBold.eot');
    src: local('Operetta 18 Demi Bold'), local('Operetta18-DemiBold'),
        url('Operetta18-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('Operetta18-DemiBold.woff2') format('woff2'),
        url('Operetta18-DemiBold.woff') format('woff'),
        url('Operetta18-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Operetta 18 Ultra';
    src: url('Operetta18-UltraBold.eot');
    src: local('Operetta 18 Ultra Bold'), local('Operetta18-UltraBold'),
        url('Operetta18-UltraBold.eot?#iefix') format('embedded-opentype'),
        url('Operetta18-UltraBold.woff2') format('woff2'),
        url('Operetta18-UltraBold.woff') format('woff'),
        url('Operetta18-UltraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Operetta 18';
    src: url('Operetta18-Regular.eot');
    src: local('Operetta 18 Regular'), local('Operetta18-Regular'),
        url('Operetta18-Regular.eot?#iefix') format('embedded-opentype'),
        url('Operetta18-Regular.woff2') format('woff2'),
        url('Operetta18-Regular.woff') format('woff'),
        url('Operetta18-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Operetta 18';
    src: url('Operetta18-Black.eot');
    src: local('Operetta 18 Black'), local('Operetta18-Black'),
        url('Operetta18-Black.eot?#iefix') format('embedded-opentype'),
        url('Operetta18-Black.woff2') format('woff2'),
        url('Operetta18-Black.woff') format('woff'),
        url('Operetta18-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Operetta 18';
    src: url('Operetta18-Bold.eot');
    src: local('Operetta 18 Bold'), local('Operetta18-Bold'),
        url('Operetta18-Bold.eot?#iefix') format('embedded-opentype'),
        url('Operetta18-Bold.woff2') format('woff2'),
        url('Operetta18-Bold.woff') format('woff'),
        url('Operetta18-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Operetta 18';
    src: url('Operetta18-Medium.eot');
    src: local('Operetta 18 Medium'), local('Operetta18-Medium'),
        url('Operetta18-Medium.eot?#iefix') format('embedded-opentype'),
        url('Operetta18-Medium.woff2') format('woff2'),
        url('Operetta18-Medium.woff') format('woff'),
        url('Operetta18-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Operetta 18 Extra';
    src: url('Operetta18-ExtraLight.eot');
    src: local('Operetta 18 Extra Light'), local('Operetta18-ExtraLight'),
        url('Operetta18-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Operetta18-ExtraLight.woff2') format('woff2'),
        url('Operetta18-ExtraLight.woff') format('woff'),
        url('Operetta18-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Operetta 18';
    src: url('Operetta18-Light.eot');
    src: local('Operetta 18 Light'), local('Operetta18-Light'),
        url('Operetta18-Light.eot?#iefix') format('embedded-opentype'),
        url('Operetta18-Light.woff2') format('woff2'),
        url('Operetta18-Light.woff') format('woff'),
        url('Operetta18-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

